<div class="regex">
  <h1>Angular Regex validation</h1>
  <div class="form">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" name="myForm">
      <div class="email">
        <label for="email" class="label">Email</label>
        <input type="email" class="form-control" placeholder="Vaš e-mail" formControlName="email" >
        <span class="error" *ngIf="f.email.touched && f.email.invalid">E-mail nije validan</span>
      </div>
      <div class="url">
        <label for="url" class="label">URL</label>
        <input type="url" class="form-control" placeholder="Unesite URL" formControlName="url">
        <span class="error" *ngIf="f.url.touched && f.url.invalid">URL nije validan</span>
      </div>
      <div class="date">
        <label for="date" class="label">Datum</label>
        <input type="text" class="form-control" placeholder="Unesite datum" formControlName="date">
        <span class="error" *ngIf="f.date.touched && f.date.invalid">Datum nije validan</span>
      </div>
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Pošaljite podatke</button>
    </form>

  </div>
</div>